#home{
    width: 100%;
    height: 800px;
    background: #ccc;
    background: url(../images/main%20_background_img.jpg) no-repeat center;
    background-size: cover;
    
}
.intro{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}
.intro .navBar{
    height: 80px;
    width: 100%;
    background-color: teal;
}
.navBar ul{
    float: right;
    color: #fff;
    z-index: 10;
}
.navBar ul li{
    float: left;
    z-index: 11;
    
}

/*<!--***************Start NavBar********************-->*/
/*<!--***************End NavBar********************-->*/
/*<!--***************Start SideBar********************-->*/
/*<!--***************End SideBar********************-->*/
/*<!--***************Start Header********************-->*/
/*<!--***************End Header********************-->*/
/*<!--***************Start Section 1 ********************-->*/
/*<!--***************End Section 1 ********************-->*/
/*<!--***************Start Section 2 ********************-->*/
/*<!--***************End Section 2 ********************-->*/
/*<!--***************Start Section 3 ********************-->*/
/*<!--***************End Section 3 ********************-->*/
/*<!--***************Start Section 4 ********************-->*/
/*<!--***************End Section 4 ********************-->*/
/*<!--***************Start Section 5 ********************-->*/
/*<!--***************End Section 5 ********************-->*/
/*<!--***************Start Section 6 ********************-->*/
/*<!--***************End Section 6 ********************-->*/
/*<!--***************Start Section 7 ********************-->*/
/*<!--***************End Section 7 ********************-->*/
/*<!--***************Start Section 8 ********************-->*/
/*<!--***************End Section 8 ********************-->*/
/*<!--***************Start Footer ********************-->*/
/*<!--***************End Footer ********************-->*/